{
	"Bot Token": "" ,
	"Guild Invite": "",
	"Game": {
		"Name": "/help",
		"Type": 2
	},
	"Twitter Bearer Token": "",
	"Tweet Announcement Channel": 0,
    "Database": {
        "user": "",
        "password": "",
        "database": "sanctuary",
        "host": "127.0.0.1"
    },
}
